.modelos-grid {
    --n: 4; /* number of rows*/
    --m: 2; /* number of columns */ 
    --f: .2;
    height: 100svh;


    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(var(--m), auto);
    margin: 0 auto;
    padding: .5rem;
    padding-top: 90px;

}

.modelos-grid :nth-child(5){ /* last image, odd */
    grid-column: span 2;
    
}
.modelos-grid :nth-child(8){ /* last image, odd */
    grid-column: span 2;
    
}

.modelos-grid h1 {
    font-size: 2.5rem;
    font-family: 'Raleway';
    font-weight: 600;
}

.modelo{

    transition: .3s ease-in;
    display: flex;
    flex-direction: column;

    justify-content:end;
    align-items: start;

}
.modelo a {
    border-radius: 0;
    padding: .5rem;
    cursor: auto;
}
a:hover{
    filter: invert(0%);
}

.modelo:hover {
    width:  calc(100vh*var(--f)/var(--n));
    height: calc(100vw*var(--f)/var(--m));

}

  /*MODELOS*/
.banner {
    width: 100%;
    height: 600px;

    margin-top: 90px;

    display: grid;
    grid-template-columns: repeat(3, auto);

  }
.banner_option {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    
    text-align: center;
    padding-top: 300px;

    transition: ease .5s;

    
    background-color: #17171763;
  }
.banner_option a{
    width: 100%;
    height: 100%;

    padding: 5rem;

    color: var(--main-text-color);
    margin: auto;

}

.banner_option:hover {
    filter: invert(100%);
}

.table {
    display: grid;

    grid-template-areas: 
        'a b c d'
        'e f g h'
        'i j k l'
        'm n o p';
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
}

/* TABLAS */

th {
    padding: 10px;
}

td {
    padding: 9px;
}


#tableD {
    display: none;
}
@media screen and (max-width: 1500px) {
    .foto-conver {
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}

.model-link {
    color: var(--main-text-color);
    background-color: var(--secondary-color-translucent);
    cursor: pointer;
    width: 100%;
    height: 20%;
}
/*pagina opcion A*/

h2 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
p {
    font-size: 1.5rem;
}

.form-container {
    width: 50%;
    margin: auto;
}

.personalizer {
    padding: 2rem;

}
.personalizer h1 {
    text-align: center;
}
.personalizer input, .personalizer label {

    margin-bottom: 1rem;
}
.form-container {
    border: solid var(--secondary-color);
    border-radius: 1rem;
}

.form-personalizer {
    align-items: center;
    padding: 1rem;
}
.form-personalizer #comment {
    padding: 1rem;
    width: 100%;
}

.desc {
    padding: 1rem;
}

.config-submit{
    background-color: var(--secondary-color-translucent);
    color: var(--main-text-color);
    border: none;
    transition: .5s ease;
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem;


}
.config-submit:hover {
    filter: invert(100%);
}

.table-description {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);

    width: 50%;
    margin: auto;
    
    border: solid #171717 .2rem;

}
.table-description tbody tr:nth-of-type(even) {
    background-color: #ececec;
}
.table-description thead tr {
    background-color:var(--secondary-color-translucent) ;
}