.bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
@media (min-aspect-ratio: 16/9){
    .bgvid {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgvid {
        width: auto;
        height: 100%;
    }
}

.top {
    display: flex;
    flex-flow: column;
    height: 100svh;
}

.scroll-btn {
    margin: auto;
    margin-top: 60vh;
    padding: 2rem;

    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-between;

    padding: 1rem; 
    height: 100svh;

    background-color: var(--main-text-color);
}

/* .image-information img{
    height: 400px;
} */
.image-information .information a{
    margin: auto;
}
.container .image-information .information .navigation-btn {
    width: 35%;
}

@media only screen and (max-width: 1000px){

    .container .image-information {
    
    flex-direction: column;
   
    }

    .image-information .img-conversiones {
    width: 100%;
    height: 200px;

    }
    .image-information .information {
        width: 100%;
    }
}

.bottom-scroll-container {
    margin-bottom: 0;
}
.bottom-scroll-btn {
    background-color: none;
    font-size: 2.5rem;

}
.bottom-scroll-btn:hover{
    opacity: 50%;
}

.image-information {
    display: flex;
    padding-top: 85px;
}

.img-conversiones {
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    max-height: 400px;

}

.information {
    display: flex;
    flex-direction: column;

    width: 60%;

    padding: 1.5rem; 
    
    justify-content: space-evenly;
    color: var(--secondary-color);
}

.information p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.scroll-space {
    height: 10vh;
    margin: auto;
}

.img-bg-container {
    height: 100svh;

    padding: 2rem 12% 0 12% ;

    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: var(--main-text-color);
}
.img-bg-container h1{
    padding-top: 85px;
}
.img-bg-container hr{
    color: var(--main-text-color);
    width: 750px;
}
@media only screen and (max-width:719px){
    .img-bg-container hr {
        width: 80%;
    }
    .img-bg-container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
}
.img-bg-container p {
    font-size: clamp(1.5rem, 1vw + 0.5rem ,2.5rem);

    line-height: 1.4;

    padding-top: 1rem;
    padding-bottom: 4rem;
}

.img-container {

    --n: 1; /* number of rows*/
    --m: 3; /* number of columns */ 
    --f: .3;

    height: 100svh;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(var(--m), auto);
}

.img-container .img-grid {

    cursor: pointer;
    filter: grayscale(50%);

    transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;

    justify-content:center;

}
.img-container .img-grid a, .img-grid p {
    display: none;
    margin: auto;
    text-align: center;
}
.img-grid p{
    color: var(--main-text-color);
    padding: 20%;

}
.img-grid:hover{
    filter: grayscale(0);
    width:  calc(100vh*var(--f)/var(--n));
    height: calc(100vw*var(--f)/var(--m));
}
.img-grid:hover a, .img-grid:hover p{
    display: block;
}

.img-grid span{
    display: inline;
    margin: auto;
    color: var(--main-text-color);
    font-size: 2rem;
    text-align: center;
}