#openMenu {
    display: inline-block;
    height: 35px;
    margin: 0;
    padding-left: 1rem;
    cursor: pointer;
    
}

.navbar{

    position: fixed;
    width: 0px;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    background-color: var(--secondary-color-translucent);
    z-index: 2;
    overflow-x: hidden;
    transition: .7s ease;
}

.navbar a {
    padding: 1.5rem 8px 8px 8px;
    text-decoration: none;
    color: #929292;
    display: block;
    opacity: 0;

}

.navbar .closebtn {
    opacity: 1;
    margin-top: 20px;
}
.navbar :nth-child(2){
    margin-top: .7rem;
    transition: all 1s ease .2s;
}
.navbar :nth-child(3){
    transition: all 1s ease .4s;
}
.navbar :nth-child(4){
    transition: all 1s ease 0.8s;
}
.navbar :nth-child(5){
    transition: all 1s ease 1s;
}
.navbar :nth-child(6){
    transition: all 1s ease 1.2s;
}
.navbar :nth-child(7){

    transition: all 1s ease 1.3s;
}
.navbar :nth-child(8){
    transition: all 1s ease 1.4s;
}
.navbar :nth-child(9){
    transition: all 1s ease 1.5s;
}
.navbar :nth-child(10){
    transition: all 1s ease 1.5s;

} 
.navbar .sub {
    padding-top: 1rem;
    padding-left: 70px;
}

.navbar :nth-child(11){
    font-family: 'Great-Vibes';
    color: #f7f7f7;
    padding-top: 3rem;

    font-size: 2rem;

    transition: all 1s ease 1.8s;
}

.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    padding: 0;
}