* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 5px;
    
}
::-webkit-scrollbar-track {
    opacity: 25%;
}

a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

.top {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    
}

.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 89vh;
    width: 100%;
    padding: 1rem;
}

header {
    position: fixed;
    height: 12vh;
    width: 100%;
    display: flexbox;
    flex-direction: row;
}

#openMenu {
    display: inline-block;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.navbar{
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    background-color: rgb(17, 17, 17);
    display: flexbox;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo {
    float: right;
    height: 100px;
}

.scroll-btn {
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    border-radius: 64px;
    background-color: rgb(244, 244, 244);
}

.hyperl-btn {
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(114, 114, 114);
}

.foto {
    width: 50%;
}

.desc {
    padding: 5%;

}
.desc p {
    padding-bottom: 50px;
}
.desc h1{
    padding-bottom: 45px;
}

.bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

footer {
    padding-top: 15px;
    display: flex;
    background-color: rgb(9, 9, 9);
    color: rgb(208, 208, 208);
    justify-content: space-evenly;
}
footer a {
    color: rgb(238, 238, 238);
}

@media (min-aspect-ratio: 16/9){
    .bgvid {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgvid {
        width: auto;
        height: 100%;
    }
}

/*fin de index*/

/*inicio de conversiones*/

.abc {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 12.5vh;
    padding-bottom: 25px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin: 0;
}

.foto-conver {
    object-fit: cover;
    width: 500px;
    height: 500px;
    transition: 80ms ease;
}

.option {
    text-align: center;
}

.foto-conver:hover {
    opacity: 60%;
    cursor: pointer;
}

th {
    padding: 10px;
}

td {
    padding: 9px;
}

.desc table {
    width: 40%;
    margin: auto;
}

#tableB {
    display: none;
}

#tableC {
    display: none;
}

#tableD {
    display: none;
}
@media screen and (max-width: 1500px) {
    .foto-conver {
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}

/*inicio de proyectos especiales*/

.grid {
    padding-top: 12.5vh;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-count: 2;
    height: 95vh;
}

.grid span {
 background: #f6f6f617;
 border-radius: 4px;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: 70ms ease;
}

.seat-desc{
    display: none;
}

.square:hover {
    height: 40%;
    opacity: 90%;
}
.square:hover .seat-desc{
    display: block;
}
.square:hover .seat-tittle {
    display: none;
}

/*galeria/museo*/
