html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    
}

.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 89vh;

}

header {
    height: 12vh;
    width: 100%;
    display: flexbox;
    flex-direction: row;
}

#openMenu {
    display: inline-block;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.navbar{
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    background-color: rgb(17, 17, 17);
    display: flexbox;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo {
    float: right;
    height: 100px;
}

.scroll {
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    border-radius: 64px;
    background-color: rgb(244, 244, 244);

}

.foto {
    padding-right: 5em;
    padding-left: 25px;
    height: 400px;
}

.desc {
    padding-right: 25px;
    padding-left: 25px;
}
.desc p {
    padding-bottom: 50px;
}

.bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

footer {
    padding-top: 15px;
    display: flex;
    background-color: rgb(9, 9, 9);
    color: rgb(208, 208, 208);
    justify-content: space-evenly;
}
footer a {
    color: rgb(238, 238, 238);
}

@media (min-aspect-ratio: 16/9){
    .bgvid {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgvid {
        width: auto;
        height: 100%;
    }
}

/*fin de index*/

.museo {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%
}

.museo .camioneta {
    transition: 100ms ease;
    max-width: 32%;
    max-height: fit-content;
}

.camioneta:hover {
    opacity: 0.3;
}