* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    font-size: 16px;

    -webkit-user-drag: none;
    -webkit-user-select: none;
}

:root {
    --main-text-color: #f3f3f3;
    --secondary-color: #171717;
    --secondary-color-translucent: #171717ab;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 1px;
}
::-webkit-scrollbar-track {
    opacity: 25%;
}

a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    transition: 80ms ease;
}

header {
    color: var(--main-text-color);
    position: fixed;
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color-translucent);
    border-bottom: solid #f3f3f3ab 1px;
}

header .logo-title {
    display: flex;
    flex-direction: column;
    margin: auto; 
}

#openMenu {
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    padding-left: 1rem;
    cursor: pointer;
}

.navbar{
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 60px;
    background-color: rgb(17, 17, 17);
    display: flexbox;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.logo {
    margin: auto;
    height: 45px;
}
.title {
    margin: auto;
    height: 24px;
}


footer {
    width: 100%;
    padding-top: 15px;
    display: flex;
    background-color: rgb(9, 9, 9);
    color: rgb(208, 208, 208);
    justify-content: space-evenly;
}
footer a {
    color: rgb(238, 238, 238);
}

/*fin de index*/

/*inicio de conversiones*/


.abc {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 12.5vh;
    padding-bottom: 25px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin: 0;
}

.foto-conver {
    object-fit: cover;
    width: 500px;
    height: 500px;
    transition: 80ms ease;
}

.option {
    text-align: center;
}

.foto-conver:hover {
    opacity: 60%;
    cursor: pointer;
}

th {
    padding: 10px;
}

td {
    padding: 9px;
}

.desc table {
    width: 40%;
    margin: auto;
}

#tableB {
    display: none;
}

#tableC {
    display: none;
}

#tableD {
    display: none;
}
@media screen and (max-width: 1500px) {
    .foto-conver {
        object-fit: cover;
        width: 250px;
        height: 250px;
    }
}

/*inicio de proyectos especiales*/

.grid {
    padding-top: 12.5vh;
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-count: 2;
    height: 95vh;
}

.grid span {
 background: #f6f6f617;
 border-radius: 4px;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: 70ms ease;
}

.seat-desc{
    display: none;
}

.square:hover {
    height: 40%;
    opacity: 90%;
}
.square:hover .seat-desc{
    display: block;
}
.square:hover .seat-tittle {
    display: none;
}

/*galeria/museo*/

